<%= form_for(@comment, remote: true) do |f| %>
  <%= hidden_field_tag :article_id, @article.id %>

  <div class="group">
  <%= f.label :name, "Name", class: "label" %>
    <%= f.text_field :name, class: "input", id: "comment-name"  %>
  </div>
  <div class="group">
    <%= f.label :body, "Comment", class: "label" %>
    <%= f.text_area :body, class: "input", id: "comment-body" %>
  </div>
  <%= f.submit "Comment", class: "button" %>
<% end %>
