<div class="main-content new-article">
  <div class="article-form">

    <%= form_for(@article, html: { multipart: true }) do |f| %>
      <% if @article.errors.any? %>
        <div class="alert alert-danger">
          <p>The form has the following <%= pluralize(@article.errors.count, 'error')%>:</p>
          <ul>
            <% @article.errors.full_messages.each do |error| %>
              <li>
                <%= error %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="group">
            <%= f.text_field :title, autocomplete: 'off', maxlength: "60", class: "input", placeholder: "Title" %>
          </div>
          <div class="group">
            <%= f.text_area :text,class: "input article-text-area", id: "article-text-area", placeholder: "Type here your thoughts" %>
            <!-- <trix-editor input="article-text-area"></trix-editor> -->
          </div>

        </div>
        <div class="col-12 col-lg-4 mt-5">
          <div class="article-featured-image" id="article-featured">
            <% unless @article.featured_image.blank? %>
              <%= image_tag(@article.featured_image_url, id: "previewImage") %>
            <% end %>
            <div id="display-img" class="display-img"></div>
            <%= f.file_field :featured_image, id: "article-image", class: "file-input" %>
            <div id="drop_zone">
              Add Featured Image
            </div>
          </div>

           <div class="group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><%= fa_icon('list-alt') %></div>
              </div>
              <%= collection_select(:article, :category_id, Category.all, :id, :name, {prompt: "Select Category"}, {class: "form-control cat-select"}) %>
            </div>
          </div>

          <div class="group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><%= fa_icon('tag') %></div>
              </div>
              <%= f.text_field :tag_list, placeholder: "Article Tags", class: "form-control tag-select" %>

            </div>
            <small class="tag-info">Seperate tags with a comma</small>
          </div>

        </div>
      </div>

      <div class="group">
        <%= f.submit "Save", :name => 'save_button', class: "button" %>
        <%= f.submit "Publish", :name => 'publish_button', class: "button", data: {confirm: 'Are you sure?'} %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src = "../../assets/froala_editor.pkgd.min.js"></script>

<script>
  new FroalaEditor('#article-text-area', {
    placeholderText: 'Type here your thoughts...',
    heightMin: 100,
    heightMax: 300,
    height: 300
  })
</script>
