<div class="main-content article-page container">
  <div class="category-articles-all">
    <div class="row">
      <div class="col-12 col-md-9">
        <div class="article-card">
          <h1 class="card-cat"><%= @article.category.name.upcase %></h1>
          <h2 class="card-title"><%= @article.title.titleize %></h2>
          <div class="article-info d-md-flex flex-column flex-sm-column flex-md-row">
            <div class="info1">
              <div class="author-name">
                By <%= @article.author.name.titleize %>
              </div>
              <div class="date">

                <%= get_strftime(@article.created_at, "%b %-d %Y") %>
              </div>
            </div>
            <div class="info2 d-flex justify-content-start mt-3">
              <div class="view">
                <%= fa_icon('eye') %> &nbsp; <span class="view-no"><%= @article.views %></span>
              </div>
              <div class="vote-form" id="vote_form">
              <% if current_user %>
                <%= render partial: 'vote_form', locals: {article: @article} %>
              <% else %>
                <%= link_to votes_path, class: "pseudo-vote" do %>
                  <span class="vote">
                      <%= button_tag fa_icon("arrow-alt-circle-up", type: :regular), class: "vote-button" %> &nbsp;
                      <span class="view-no"><%= count_all(@article.votes) %></span>
                  </span>
                <% end %>
              <% end %>
              </div>
              <div class="bookmark-form" id="bookmark_form">
                <% if current_user %>
                 <%= render partial: 'bookmark_form', locals: {article: @article} %>
                 <% else %>
                  <%= link_to bookmarks_path do %>
                    <%= button_tag fa_icon("bookmark"), class: "vote-button" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <%= image_tag(@article.featured_image_url, alt: @article.title, class: "img-fluid") %>
          <div class="card-body">
            <div class="card-text"><%= @article.text.html_safe %></div>
          </div>
          <div class="author-social-link">
            <hr>
            <div class="author-info d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center">
              <% if @article.tags.any? %>
                <div class="article-tags">
                  Tags:
                  <% @article.tags.each_with_index do |tag, index| %>
                    <% if index == (@article.tags.length-1) %>
                      <%= "#{tag.name}." %>
                    <% else %>
                      <%= "#{tag.name}," %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class="author-social-icons">
                <%= link_to fa_icon('facebook-square', type: :brand, size: '3x' ), @article.author.facebook, class: "facebook" %>
                <%= link_to fa_icon('linkedin', type: :brand, size: '3x' ), @article.author.facebook, class: "linkedin" %>
                <%= link_to fa_icon('twitter-square', type: :brand, size: '3x' ), @article.author.twitter, class: "twitter" %>
              </div>
            </div>
          <hr>
          </div>
        </div>

        <div class="comment-card card">
          <div class="comment-header card-header">
            <div class="comment-title" id="comment-title">
              <%= comment_count(@article.comments) %>
            </div>
            <div class="write-comment">
              <a href="#new-comment" class="write-comment-btn button">Post a Comment</a>
            </div>
          </div>
          <div class="card-body">
            <div class="all-comments" id="all-comments">

              <%= render partial: 'comment', locals: {article: @article} %>

            </div>
            <div class="comment-section new-comment" id="new-comment">
              <div class="comment-form">

               <%= render 'comments/comment_form' %>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="suggested-articles mt-3 text-center">

          <% if article_present(@all_suggested_articles) %>
            <h2 class="section-header">Suggested Articles</h2>
          <% end %>
          <div class="suggested-article-content">
            <% article_random(@all_suggested_articles, 4).each do |suggested_articles| %>
              <%= link_to article_path(suggested_articles.id), class: "suggested-article-link" do %>
                <div class="card mb-4">
                  <div class="image ripple suggested-image">
                    <%= image_tag(suggested_articles.featured_image_url, alt: suggested_articles.title, class: "card-img-top")%>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= suggested_articles.category.name.capitalize %></h5>
                    <p class="card-text"><%= suggested_articles.title %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="popular-articles">
          <div class="list-group">
            <div class="list-group-item list-group-item-action header">
              <h1 class="card-cat"><%= @article.category.name.capitalize %></h1>
              <h2 class="card-title">Most Popular</h2>
            </div>
            <% @most_popular_articles.each_with_index do |popular_articles, index| %>
              <%= link_to article_path(popular_articles), class: "list-group-item list-group-item-action list" do %>
                <div class="popular-article-item d-flex flex-column">
                  <p class="card-text"><%= popular_articles.title %></p>
                  <div class="views d-flex align-items-center align-self-end">
                    <span class="view">
                       <%= fa_icon('eye') %> &nbsp; <span class="view-no"><%= popular_articles.views %></span>
                    </span>
                    <span class="comment">
                     <%= fa_icon('comment-alt') %> &nbsp; <span class="view-no"><%= count_all(popular_articles.comments) %></span>
                    </span>
                  </div>
                </div>
             <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
