<div class="back-home">
  <a href="/">
    <span class="back-home-link">
      <%= fa_icon('arrow-circle-left' ) %>
      Back to Home Page
    </span>
  </a>
</div>
<div class="signup-login-forms">
  <div class="form-contents">
    <div class="login-html">
      <%= link_to "Log In", login_path, class: "sign-in tab"%>
      <%= link_to "Register", signup_path, class: "sign-up tab active"%>
      <div class="login-form">
        <div class="sign-up-form">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/errors' %>
            <div class="group">
              <%= f.label :name, class: 'label'%>
              <%= f.text_field :name, class: "input"%>
            </div>
            <div class="group">
              <%= f.label :username, class: 'label'%>
              <%= f.text_field :username, class: "input"%>
            </div>
            <div class="group">
              <%= f.label :email, class: 'label'%>
              <%= f.email_field :email, class: "input"%>
            </div>
            <div class="group">
              <%= f.label :password, class: 'label'%>
              <%= f.password_field :password, class: "input"%>
            </div>
            <!--<div class="group">
              <%= f.label :password_confirmation, class: 'label'%>
              <%= f.password_field :password_confirmation, class: "input"%>
            </div>-->
            <div class="group">
              <%= f.submit "Register", class: "button", id: "register" %>
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-1">Already Member?</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

   <%= render 'shared/sm-login'%>
  </div>
</div>
