<% if controller_name != 'sessions' && controller_name != 'users'%>
  <div class="lower-section">
    <section class="about-section">
        <div class="section-container">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="about-us section-part">
                <h3 class="title">About us</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
              </div>
            </div>
            <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="categories-links section-part">
                <h3 class="title">Categories</h3>
                  <ul class="category-content list-group list-group-flush">
                  <% @categories.each do |category| %>
                  <%= link_to categories_path(name: category.name), class: "category-links" do %>
                    <li class="category-list list-group-item"><%= category.name.capitalize %></li>
                  <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="subscribe section-part">
                <h3 class="title">Subscribe</h3>
                <form>
                  <input type="email" class="input" placeholder="Email">
                  <button type="submit" class="input">Subscribe</button>
                </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

    </section>
    <footer class="footer">
      <hr>
      <div class="section-container">
        <div class="footer-content d-flex align-items-center justify-content-between">
          <div class="nav-brand">
              <a href="/">
                <div class="nav-brand brand-footer">
                  <span>Sleezy</span>
                </div>
              </a>
            </div>
          <div class="copyright">
            <p>Privacy Policy Terms & Conditions <br><span> Copyright &copy; 2020. All rights reserved.</span></p>
          </div>
          <div class="connect">
            <span>Connect with us </span>
            <span class=footer-icon>
              <%= link_to fa_icon('facebook', type: :brand ), "#" %>
              <%= link_to fa_icon('twitter', type: :brand ), "#" %>
              <%= link_to fa_icon('instagram', type: :brand ), "#" %>
            </span>
          </div>

        </div>
      </div>
    </footer>
  </div>
<% end %>
