<div class="wrapper">
  <header class="header-nav">
    <nav class="nav flex-item">
      <div class="nav-navbar small flex-item">
      <div class="menu-toggler bars">
          <div class="start bar"></div>
          <div class="middle bar"></div>
          <div class="end bar"></div>
        </div>
        <div class="nav-brand">
          <a href="/">
            <div class="nav-brand-inner">
              <span>Sleezy</span>
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-content">
        <div class="nav-navbar large">
          <div class="nav-brand">
            <a href="/">
              <div class="nav-brand-inner">
                <span>Sleezy</span>
              </div>
            </a>
          </div>
        </div>
        <ul class="navbar nav-links">
          <li class="nav-item">
            <a href="/" class="nav-link current">Home</a>
          </li>
          <% Category.all.each do |link| %>
            <li class="nav-item">
              <%= link_to link.name.capitalize, categories_path(category: link.name.capitalize), class: "nav-link"%>
            </li>
          <% end %>
        </ul>
        <ul class="navbar reg-items">
          <li class="nav-item">
            <%= form_tag(search_path, method: :get, class: 'form-inline') do %>
              <div class="search-form">
                <%= text_field_tag :q, params[:q], class: "form-control search-input", placeholder:"Search" %>
                <%= button_tag "", :name => nil, class: "btn btn-secondary search-button" do %>
                  <%= fa_icon("search", class: "search-icon text-secondary") %>
                <% end %>
              </div>
            <% end %>
          </li>
          <% if logged_in? %>
            <li class="nav-item profile">
              <%= avatar(current_user) %>
              <ul class="navbar profile-dropdown">
                <li class="nav-item profile-name-content">
                  <%= avatar(current_user, class_name: 'profile-img-sm') %>
                  <div class="profile-name">
                    <span><%= @current_user.name %></span>
                    </span>@<%= @current_user.username %></span>
                  </div>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Write An Article", new_article_path, class: "nav-link" %>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Your Articles", published_articles_path, class: "nav-link" %>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Your Archives", saved_articles_path, class: "nav-link" %>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Your Bookmarks", bookmarks_path, class: "nav-link" %>
                </li>
                <li class="nav-item last prof">
                  <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
                </li>
              </ul>
            </li>

          <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item divider">
            <span>|</span>
          </li>
          <li class="nav-item">
            <%= link_to "Register", signup_path, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </header>
</div>
