<% if controller_name != 'sessions' && controller_name != 'users'%>
  <div class="wrapper">
    <header class="header-nav">
      <nav class="nav flex-item">
        <div class="nav-navbar small flex-item">
        <div class="menu-toggler bars">
            <div class="start bar"></div>
            <div class="middle bar"></div>
            <div class="end bar"></div>
          </div>
          <div class="nav-brand">
            <a href="/">
              <div class="nav-brand-inner">
                <span>Sleezy</span>
              </div>
            </a>
          </div>
        </div>
        <div class="navbar-content">
          <div class="nav-navbar large">
            <div class="nav-brand">
              <a href="/">
                <div class="nav-brand-inner">
                  <span>Sleezy</span>
                </div>
              </a>
            </div>
          </div>
          <ul class="navbar nav-links">
            <li class="nav-item">
              <a href="#home" class="nav-link current">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="#portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact</a>
            </li>
          </ul>
          <ul class="navbar reg-items">
          <% if logged_in? %>
            <li class="nav-item profile">
              <%= image_tag('https://cdn-images-1.medium.com/fit/c/64/64/2*zHvL82OxLLlRKP443IE88g.jpeg', alt: "profile-image", class: 'profile-img-lg') %>
              <ul class="navbar profile-dropdown">
                <li class="nav-item profile-name-content">
                  <%= image_tag('https://cdn-images-1.medium.com/fit/c/64/64/2*zHvL82OxLLlRKP443IE88g.jpeg', alt: "profile-image", class: 'profile-img-sm') %>
                  <div class="profile-name">
                    <span><%= @current_user.name %></span>
                    </span>@<%= @current_user.username %></span>
                  </div>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Dashboard", logout_path, class: "nav-link" %>
                </li>
                <li class="nav-item prof">
                  <%= link_to "Write An Article", new_article_path, class: "nav-link" %>
                </li>
                 <li class="nav-item prof">
                  <%= link_to "Your Articles", logout_path, class: "nav-link" %>
                </li>
                 <li class="nav-item prof">
                  <%= link_to "Your Bookmarks", logout_path, class: "nav-link" %>
                </li>
                 <li class="nav-item prof">
                  <%= link_to "Replies", logout_path, class: "nav-link" %>
                </li>
                 <li class="nav-item prof">
                  <%= link_to "Account", logout_path, class: "nav-link" %>
                </li>
                 <li class="nav-item last prof">
                  <%= link_to "Logout", logout_path, class: "nav-link", method: :delete %>
                </li>
              </ul>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
            </li>
            <li class="nav-item divider">
              <span>|</span>
            </li>
            <li class="nav-item">
              <%= link_to "Register", signup_path, class: "nav-link" %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
  </div>
<% end %>
