<!DOCTYPE html>
<html>
  <head>
    <title>Sleezy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container-wrapper">
      <%= render 'layouts/flash' %>
        <%= yield %>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
